.titles{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}
.home-main{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titles li{
  background-color: rgb(255, 208, 80);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.movies-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.movie-container{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 1rem;
}
.movie-container img{
  width: 90%;
}
